<p>edit-users works!</p>
<button (click)="goToHomePage()">Go to Home Page</button>
<div *ngIf="dataloaded">
<mat-card>
    <mat-card-title> Edit User details</mat-card-title>
    <mat-card-content>
      
<form [formGroup]="editUserForm" (submit)="editUserId()">

    <p>
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="username">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Enter username</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Enter email</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="Placeholder" formControlName="phone">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Enter Phone</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <button mat-stroked-button color="primary">Edit</button>
      </p>
</form>
</mat-card-content>
</mat-card>
</div>